@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000000;
  --neutral: #404040;
  --secondary: #ffffff;

  @apply bg-secondary text-primary leading-5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@layer base {
  html {
    font-family: "Sora";
  }
}

header,
footer {
  @apply container mx-auto px-4 py-4 lg:px-20 lg:py-6;
}

section {
  @apply container mx-auto px-4 py-10 lg:px-20 lg:py-[60px];
}
